body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    width: 100%;
}

p {
    text-align: justify;
    font-size: 17px;
    color: palevioletred;
    text-decoration: plum;



}
h1 { 
    text-align: center;
    color: palevioletred;
}

h2 { 
    color:violet;
}

h5 { 
    color:purple;
}

h3 {
    color: plum;
    text-align: center;
    
}
